
        <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
            <div class="grid gap-2 md:grid-cols-2 lg:grid-cols-3">
                
        <a href="#top" 
            hx-get="data/pug.html" hx-target="main"
            class="group relative block bg-black">
            <img 
                src="/assets/img/pexels-charles-1851164.jpg"
                alt="Photo of Pug"
                class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
            <div class="relative p-4 sm:p-6 lg:p-8">
                <p class="text-xl font-bold text-white sm:text-2xl">
                    Pug
                </p>
                <div class="mt-32 sm:mt-48 lg:mt-64">
                    <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                        <p class="text-sm text-white">
                            The Pug is a charming and affectionate small dog breed known for its distinctive wrinkled face and curled tail. Playful and sociable, Pugs thrive on human companionship. They have a distinctive "smushed" face and a stocky build, making them instantly recognizable and endearing.
                        </p>
                    </div>
                </div>
            </div>
        </a>
    
        <a href="#top" 
            hx-get="data/labrador-retriever.html" hx-target="main"
            class="group relative block bg-black">
            <img 
                src="/assets/img/pexels-chevanon-photography-1108099.jpg"
                alt="Photo of Labrador Retriever"
                class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
            <div class="relative p-4 sm:p-6 lg:p-8">
                <p class="text-xl font-bold text-white sm:text-2xl">
                    Labrador Retriever
                </p>
                <div class="mt-32 sm:mt-48 lg:mt-64">
                    <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                        <p class="text-sm text-white">
                            Labrador Retrievers are one of the most popular dog breeds known for their friendly and outgoing nature. They are highly intelligent, versatile, and make excellent family pets. Labs are renowned for their loyalty, enthusiasm, and love for both play and work, making them great companions for various activities.
                        </p>
                    </div>
                </div>
            </div>
        </a>
    
        <a href="#top" 
            hx-get="data/siberian-husky.html" hx-target="main"
            class="group relative block bg-black">
            <img 
                src="/assets/img/pexels-lucas-andrade-4681107.jpg"
                alt="Photo of Siberian Husky"
                class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
            <div class="relative p-4 sm:p-6 lg:p-8">
                <p class="text-xl font-bold text-white sm:text-2xl">
                    Siberian Husky
                </p>
                <div class="mt-32 sm:mt-48 lg:mt-64">
                    <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                        <p class="text-sm text-white">
                            The Siberian Husky is a medium-sized working dog breed with striking blue eyes and a thick, double coat. Known for their endurance and strength, Huskies were originally bred as sled dogs in cold climates. They are friendly, outgoing, and have a strong independent streak, making them unique and captivating companions.
                        </p>
                    </div>
                </div>
            </div>
        </a>
    
        <a href="#top" 
            hx-get="data/shih-tzu.html" hx-target="main"
            class="group relative block bg-black">
            <img 
                src="/assets/img/pexels-miguel-constantin-montes-2623968.jpg"
                alt="Photo of Shih Tzu"
                class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
            <div class="relative p-4 sm:p-6 lg:p-8">
                <p class="text-xl font-bold text-white sm:text-2xl">
                    Shih Tzu
                </p>
                <div class="mt-32 sm:mt-48 lg:mt-64">
                    <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                        <p class="text-sm text-white">
                            The Shih Tzu is a small toy breed known for its elegant appearance and friendly disposition. With a luxurious, long, flowing coat and a distinctive pushed-in face, Shih Tzus are delightful companions. They thrive on human interaction and make excellent lap dogs, bringing joy and charm to their owners.
                        </p>
                    </div>
                </div>
            </div>
        </a>
    
        <a href="#top" 
            
            class="group relative block bg-black">
            <img 
                src="/assets/img/pexels-steshka-willems-1390361.jpg"
                alt="Photo of Cavalier King Charles Spaniel"
                class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
            <div class="relative p-4 sm:p-6 lg:p-8">
                <p class="text-xl font-bold text-white sm:text-2xl">
                    Cavalier King Charles Spaniel
                </p>
                <div class="mt-32 sm:mt-48 lg:mt-64">
                    <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                        <p class="text-sm text-white">
                            The Cavalier King Charles Spaniel is a graceful and affectionate toy breed. With a silky coat, expressive eyes, and a friendly demeanor, they are well-suited for both families and individuals. Cavaliers are known for their loving nature and adapt well to various living environments.
                        </p>
                    </div>
                </div>
            </div>
        </a>
    
        <a href="#top" 
            hx-get="data/german-shepherd.html" hx-target="main"
            class="group relative block bg-black">
            <img 
                src="/assets/img/pexels-summer-stock-333083.jpg"
                alt="Photo of German Shepherd"
                class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
            <div class="relative p-4 sm:p-6 lg:p-8">
                <p class="text-xl font-bold text-white sm:text-2xl">
                    German Shepherd
                </p>
                <div class="mt-32 sm:mt-48 lg:mt-64">
                    <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                        <p class="text-sm text-white">
                            German Shepherds are versatile and intelligent working dogs known for their loyalty and protective instincts. With a strong and agile build, they excel in various roles, including police work, search and rescue, and as family guardians. German Shepherds are devoted to their owners and form strong bonds with their families.
                        </p>
                    </div>
                </div>
            </div>
        </a>
    
        <a href="#top" 
            
            class="group relative block bg-black">
            <img 
                src="/assets/img/pexels-tanika-3687770.jpg"
                alt="Photo of Pomeranian"
                class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
            <div class="relative p-4 sm:p-6 lg:p-8">
                <p class="text-xl font-bold text-white sm:text-2xl">
                    Pomeranian
                </p>
                <div class="mt-32 sm:mt-48 lg:mt-64">
                    <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                        <p class="text-sm text-white">
                            The Pomeranian is a small, lively toy breed with a thick double coat and a fox-like face. Despite their small size, Pomeranians have a confident and extroverted personality. They are energetic, alert, and often act fearlessly, making them a delightful and entertaining addition to any household.
                        </p>
                    </div>
                </div>
            </div>
        </a>
    
        <a href="#top" 
            
            class="group relative block bg-black">
            <img 
                src="/assets/img/pexels-valeria-boltneva-1805164.jpg"
                alt="Photo of Shiba Inu"
                class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
            <div class="relative p-4 sm:p-6 lg:p-8">
                <p class="text-xl font-bold text-white sm:text-2xl">
                    Shiba Inu
                </p>
                <div class="mt-32 sm:mt-48 lg:mt-64">
                    <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                        <p class="text-sm text-white">
                            The Shiba Inu is a spirited and independent Japanese dog breed known for its fox-like appearance and bold personality. With a curly tail and a confident demeanor, Shiba Inus are both charming and sometimes aloof. They are clean, intelligent, and make loyal companions for those who appreciate their unique qualities.
                        </p>
                    </div>
                </div>
            </div>
        </a>
    
        <a href="#top" 
            hx-get="data/schnauzer.html" hx-target="main"
            class="group relative block bg-black">
            <img 
                src="/assets/img/pexels-sebastian-coman-travel-3655387.jpg"
                alt="Photo of Schnauzer"
                class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
            <div class="relative p-4 sm:p-6 lg:p-8">
                <p class="text-xl font-bold text-white sm:text-2xl">
                    Schnauzer
                </p>
                <div class="mt-32 sm:mt-48 lg:mt-64">
                    <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
                        <p class="text-sm text-white">
                            Schnauzers are a versatile breed available in three sizes: Miniature, Standard, and Giant. Known for their distinctive beard and eyebrows, Schnauzers are intelligent, alert, and have a spirited personality. They are often praised for their loyalty, making them excellent family pets and watchdogs.
                        </p>
                    </div>
                </div>
            </div>
        </a>
    
            </div>
        </div>
    